@CHARSET "UTF-8";


.tu{
	height:320px;
	overflow:hidden;
	margin:15px 0;
}
.tu img{
	width:696px;
}
.jieshao{
	border:solid 1px #ddd;
width:260px;
margin:15px 0;
}
.jieshao li{
height:50px;
	border-bottom:solid 1px #ddd;
padding:5px;

}
.jieshao .zuopin{
	line-height:50px;
	text-align:center;
}
.jieshao .xinxi .s1{
	text-align:left;
}
.jieshao .xinxi .s2{
	text-align:right;
}
.duotu ul li a,.jieshao li{
	box-shadow: 0px 0px 2px rgba(186,188,182,1);
	border-radius:4px;
			}
.duotu ul li a:hover{
	background:#ddd;
	
}

.jieshao .on{
	background:#ddd;
}
.jieshao .on a{
	color:#38B5F4;
}
.duotu ul li a{
	padding:4px;
	border:solid 1px #ddd;
	display:block;
	float:left;
	margin:3px 2px;
	
}
.duotu ul li a img{
	width:177px;
	height:266px;
}