@CHARSET "UTF-8";
a{
	color:#333;
}
#list_l{
	width:660px;

}
#list_r{
	width:280px;
	padding-top:8px;
	
}

#list_l .shijian{
	text-align:right;
	float: right;
	margin-right:5px;
}
.liebiao li{
width:640px;
}
.liebiao li a:hover{
	cursor: pointer;
text-decoration:underline;
}
.shijian .shuxian{
	font-size:24px;
	color:#999;


}
.tupian{
	margin-top:5px;
	margin-right:3px;
	padding:3px;
	border:solid  1px #ddd;
}
.biaoqian {
	height:780px;
}
.biaoqian iframe a{

}
.biaoqian a:hover{

}
.toubu h3{
	color:#333;
	text-align:center;
}
.toubu{
	padding:10px;
	border-bottom:solid 2px #ddd;
}
.neirong,.jianjie{
	border:solid 1px #ddd;
	border-top:none;
	padding:10px;
}
.toubu .xinxi{
	padding:2px;
}
.wenzi hr{
	color:#ddd;
	font-weight:10;
}

.jianjie p{
	color:#3189F4;
}
#weizhi a:hover{
color:#ff6600;
}