.c{
	clear:both;
}
.l{float: left;}
.r{float:right}
#title
{	
	padding:0 6px;
	line-height:36px;
	font-weight:bold;
	width:970px; 
	height:36px;
	float:left;

	display:block;
	background:url(/newWeb/images/admin_img/top_2.png)repeat-x;

}
h3{
color:#317EAC;

}
.top_l{
	background:url(/newWeb/images/admin_img/top_1.png)no-repeat scroll left 0px ;
	
	padding-left:6px;
}
.top_l,.top_r
{	
	float: left;
	display: block;
	height:36px;
}
.top_r{
	float: left;
	width: 6px;
	display: block;
	background:url(/newWeb/images/admin_img/top_3.png)no-repeat scroll right 0px;
}
#form_content{
	width: 1000px;
	margin:0 auto; 
	border:solid 1px #ddd;
	padding: 5px;
}

.inputFocus{
	*border-color:rgba(82,168,236,0.8);
	 box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
}
div.form
{
	padding: 20px;
}
div.form .buttons input{
	/*//background-color: #F5F5F5;*/
		border linear 0.2s, box-shadow linear 0.2s
	    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
	    background-repeat: repeat-x;
	    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #A2A2A2;
	    border-image: none;
	    border-radius: 4px 4px 4px 4px;
	    border-style: solid;
	    border-width: 1px;
	    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	    color: #333333;
		cursor: pointer;
	    display:block;
	    font-size: 14px;
	    line-height: 20px;
	    margin-bottom: 0;
	    padding: 4px 12px;
	    text-align: center;
	    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	    vertical-align: middle;
}
div.form .buttons input:hover{
	background-color:#E2E9EA; 
}
.alink{
	color:#3C86C5;
	font-weight: bold;

}