/*首页CSS*/
*{
	margin:0px;
}
.l{
	float: left;
}
.r{
	float: right;
}
.c{
	display:block;
	clear:both;
}
ul li {
	list-style:none;
}
.center{
	width:960px;
	margin: 0 auto;
}
/*头部CSS开始*/
#head{
	height:36px;
	background: url(../images/head_bg.png) repeat-x;
}
#head a{
	line-height: 36px;
	color:#fff;
	text-decoration:none;
}
.h_c{
	margin:20px 0 0 120px;

}
.logo{
	display: block;
	width:181px;
	height: 64px;
	background: url(../images/logo.png);
}
.h_c ul{
	height:16px;
	padding:5px;
	padding-top:4px;
	overflow: hidden;
	background: #ECECEC;
	position: relative;
	left: -52px;
	border-left: solid 1px #ddd;
}
.h_c ul li{
	margin-top:2px;
	list-style: none;
	color:#333;
	_float:left;
}

.search{
	margin:10px 0 0 50px; 
	border-radius: 3px;
	background: #fff;
	padding:5px;
	background: url(../images/s.png) repeat-x;
}
.tiaojian{
	text-indent: 2em;
	display: block;
	font-size: 14px;
	color:#999;
	height:28px;
	width:260px;
	border:none;
	background:url(../images/tiaojian.png) no-repeat;
}
.sousuo{
	display:block;
	height:28px;
	width: 64px;
	padding:3px;
	cursor: pointer;
	border:none;
	background: none;
	background: url(../images/sousuo_h.png) no-repeat;
}
.sousuo:hover{
	background: url(../images/sousuo.png) no-repeat;
}
#web_menu{
	height: 108px;
	width: 960px;
	background: url(../images/dh_bg.png) repeat-x;
}
#web_menu ul{
	float:left;
	*margin-left: 30px;
}
#web_menu ul li{
	height: 28px;
	list-style: none;
}
#web_menu ul li a b{
	padding:0 5px;
	font-size: 18px;
	color:#333;
}
#web_menu ul li a b:hover{
	color:#086BA8;
}
#web_menu ul li a{
	color:#535250;
}
#web_menu ul li a:hover{
	color:#059AF6;

}


/*头部CSS结束*/
/*内容部分CSS开始{*/
#content{

	*margin-top: 194px;

}
/*内容部分CSS结束*/
#foot{
	margin: 20px 0;
	text-align: center;
}
#foot a{
	color:#fff;
	text-decoration: none;
}
#foot p{
	color:#fff;
}
#foot .youlian,#foot .xiangguan
{
	border:solid 1px #ddd;
	background: #616F8A;
	border-radius: 4px;
	padding:5px;
}
